<div class="grid-x">
  <div class="cell medium-6 large-7"><div id="mapid" style="height:100vh"></div></div>
  <div class="cell medium-6 large-5">
  <div style="height:100vh;overflow:scroll">
  <div id="options">
  </div>
  <div id="home" >
  Loading..
  </div>
  </div>
  </div>
</div>